img{
  width: 100px;
  height: 100px;
}

.emoticon {
    display: inline;
    top: 0;
    left: 0;
}

.staticEmotion {
    position: relative;
    top: 0;
    left: 0;
    z-index: 2;
    opacity: 0.6;
}

.staticEmotion-my-click {
    opacity: 1;
}

.pulsingEmotion {
    position: relative;
    top: 0;
    left: 0;
    z-index: 2
}