body {
    background: linear-gradient(-45deg, #EE7752, #E73C7E, #23A6D5, #23D5AB);
     background-size: 400% 400%;
     -webkit-animation: Gradient 4s ease infinite;
     -moz-animation: Gradient 4s ease infinite;
     animation: Gradient 4s ease infinite; 
}

img{
  width: 100px;
  height: 100px;
}

.vote-icon {
    width: 250px;
    height: 250px;
}

.small-img {
    width: 100px;
    height: 100px;
}

.wrapper
{
  position: fixed;
  
  bottom: 0;
  border-right-style: 0;
}
.element
{
  position: relative;
  background: #f00;
  top: 0%;
  
  -webkit-transition: left 5s;
  -moz-transition: left 5s;
  -o-transition: left 5s;
  transition: left 5s;
}

.hidden > #element { left: -100%; }

.bottom {
    position: fixed;
    top: 50%;
    right: 15%;
    transform: translate(+50%, -50%);
}
.bottom-icons {
    display: table;
    margin: auto;
    vertical-align: middle;
    width: 500px;
    margin: 0 auto;
}

.emoticon {

    margin: 0 30px;
    top: 0;
    left: 0;
}

.staticEmotion {
    position: relative;
    top: 0;
    left: 0;
    z-index: 2;
    opacity: 0.6;
}

.staticEmotion-my-click {
    opacity: 1;
}

.pulsingEmotion {
    position: relative;
    top: 0;
    left: 0;
    z-index: 2
}