img{
  width: 40px;
  height: 40px;
}

.emoticon {
    display: inline;
    top: 0;
    left: 0;
}

.staticEmotion {
    position: relative;
    top: 0;
    left: 0;
    z-index: 2
}

.pulsingEmotion {
    position: absolute;
    top: 30px;
    left: 30px;
}